\---
layout: default
title: Faking  - Goddamn Cowards
\---
.release-page
  %h2.release-page__heading Goddamn Cowards

  %img.release-page__cover{src: 'images/covers/gc-cover.jpg', alt: 'Faking, Goddamn Cowards album.'}

  %iframe.release-page__player{src: 'https://bandcamp.com/EmbeddedPlayer/album=2854302309/size=large/bgcol=333333/linkcol=0f91ff/artwork=none/transparent=true/'}
  .release-page__info
    %p.release-page__date Released May 2016 by Reptilian Records
    %p.release-page__personel Jeff Bowne - guitar/vocals
    %p.release-page__personel Phil Schorn - drums
    %p.release-page__personel Mark Diehl - bass
    %p.release-page__details Recorded and mixed by Arik Victor
    %p.release-page__details at Creep Recording Studio in 2014
    %p.release-page__cta
      Download from
      %a.releases__cta-link{href: 'https://faking.bandcamp.com/album/goddamn-cowards-2', target: '_blank'}
        Bandcamp.
    %p.release-page__cta
      Buy the CD from
      %a.releases__cta-link{href: 'http://www.reptilianrecords.com/products/572116-faking-goddamn-cowards', target: '_blank'}
        Reptilian Records.
