\---
layout: default
title: Faking  - No Comfort
\---
.release-page
  %h2.release-page__heading No Comfort

  %img.release-page__cover{src: 'images/covers/nc-cover.jpg', alt: 'Faking, No Comfort album.'}

  .release-page__info
    %p.release-page__date Released November 2019 by Slugthrower Records
    %p.release-page__personel Jeff Bowne - electric guitar / vocals
    %p.release-page__personel Phil Schorn - acoustic drums / chains
    %p.release-page__personel Matt Garfield - bass keys / synth
    %p.release-page__details Recorded by Steve Poponi, mixed by Matt Weber, and mastered by Dave Downham.
    %p.release-page__details at Gradwell House Studio in 2018
    %p.release-page__cta
      Pre-order the 12", CD, or download from
      %a.releases__cta-link{href: 'https://faking.bandcamp.com/album/no-comfort', target: '_blank'}
        Bandcamp.