\---
layout: default
title: Faking Shows
\---
.shows{ data:{gallery:''} }

  %h2.shows__heading Live Shows

  .shows__row
    %button.shows__image-button{ data:{gallery_image_button:''} }
      %img.shows__photo{src: 'images/live/livespazz.png', alt: 'Faking live.'}
    %button.shows__image-button{ data:{gallery_image_button:''} }
      %img.shows__photo{src: 'images/live/livems.jpg', alt: 'Faking live.'}
    %button.shows__image-button{ data:{gallery_image_button:''} }
      %img.shows__photo{src: 'images/live/livecen.jpg', alt: 'Faking live.'}

  .shows__listings
    -# %h3.shows__listings-heading Upcomming Events

    -# .shows__event
    -#   .shows__date Nov. 7
    -#   .shows__venue Century Bar
    -#   .shows__city Philadelphia, PA
    -#   .shows__bands w/ Black Lung, Queen Elephantine, Mutant Flesh
    -#   %a.shows__event-link{href: 'https://www.facebook.com/events/2393979930655350/'} Facebook event page

  .shows__row
    %button.shows__image-button{ data:{gallery_image_button:''} }
      %img.shows__photo{src: 'images/live/livekfn.jpg', alt: 'Faking live.'}
    %button.shows__image-button{ data:{gallery_image_button:''} }
      %img.shows__photo{src: 'images/live/livehide.png', alt: 'Faking live.'}
    %button.shows__image-button{ data:{gallery_image_button:''} }
      %img.shows__photo{src: 'images/live/liveny.png', alt: 'Faking live.'}
