\---
layout: default
title: Faking Shows
\---
.shows{ data:{gallery:''} }

  %h2.shows__heading Live Shows

  .shows__row
    %button.shows__image-button{ data:{gallery_image_button:''} }
      %img.shows__photo{src: 'images/live/livespazz-sm.png', alt: 'Faking live.', data:{image:'images/live/livespazz.png'}}
    %button.shows__image-button{ data:{gallery_image_button:''} }
      %img.shows__photo{src: 'images/live/livems-sm.jpg', alt: 'Faking live.', data:{image:'images/live/livems.jpg'}}
    %button.shows__image-button{ data:{gallery_image_button:''} }
      %img.shows__photo{src: 'images/live/livecen-sm.jpg', alt: 'Faking live.', data:{image:'images/live/livecen.jpg'}}

  .shows__listings
    -# %h3.shows__listings-heading Upcomming Events

    -# .shows__event
    -#   .shows__date Nov. 7
    -#   .shows__venue Century Bar
    -#   .shows__city Philadelphia, PA
    -#   .shows__bands w/ Black Lung, Queen Elephantine, Mutant Flesh
    -#   %a.shows__event-link{href: 'https://www.facebook.com/events/2393979930655350/'} Facebook event page

  .shows__row
    %button.shows__image-button{ data:{gallery_image_button:''} }
      %img.shows__photo{src: 'images/live/livekfn-sm.jpg', alt: 'Faking live.', data:{image:'images/live/livekfn.jpg'}}
    %button.shows__image-button{ data:{gallery_image_button:''} }
      %img.shows__photo{src: 'images/live/livehide-sm.png', alt: 'Faking live.', data:{image:'images/live/livehide.png'}}
    %button.shows__image-button{ data:{gallery_image_button:''} }
      %img.shows__photo{src: 'images/live/liveny-sm.png', alt: 'Faking live.', data:{image:'images/live/liveny.png'}}

%script{ src: 'image-gallery.js' }
