%ul.primary-nav
  -# %li.primary-nav__tag>
  -#   %a.primary-nav__tag-link{ href: '#top',  data: { nav_link: '' } }
  -#     %i.fa.fa-code.fa-3x
  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: '#shows-area',  data: { nav_link: '' } } LIVE SHOWS
  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: '#videos-area',  data: { nav_link: '' } } VIDEOS
  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: '#press-area',  data: { nav_link: '' } } PRESS

