%ul.primary-nav
  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: '/test',  data: { nav_link: '' } } MUSIC

  %li.primary-nav__divider>

  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: '#',  data: { nav_link: '' } } SHOWS

  %li.primary-nav__divider>

  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: '#',  data: { nav_link: '' } } VIDEOS

  %li.primary-nav__divider>

  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: '#',  data: { nav_link: '' } } PRESS
