%ul.primary-nav
  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: '/music',  data: { nav_link: '' } } MUSIC

  %li.primary-nav__divider>

  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: '/shows',  data: { nav_link: '' } } SHOWS

  %li.primary-nav__divider>

  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: '/videos',  data: { nav_link: '' } } VIDEOS

  %li.primary-nav__divider>

  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: '/press',  data: { nav_link: '' } } PRESS
