.releases

  .releases__hero
    %a.releases__hero-heading-link{href: 'https://faking.bandcamp.com/album/no-comfort'}
      %h2.releases__hero-heading Pre-order the new record!
    %a.releases__hero-cover-link{href: 'https://faking.bandcamp.com/album/no-comfort'}
      %img.releases__hero-cover{src: 'images/covers/nc-cover.jpg', alt: 'Faking, No Comfort album.'}
      .releases__hero-title No Comfort

  .releases__cover.releases__cover--gdc
    %iframe.releases__player{src: 'https://bandcamp.com/EmbeddedPlayer/album=2854302309/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/transparent=true/'}
    %a.releases__cover-link{href: '/release-goddamn-cowards'} Goddamn Cowards

  .releases__cover.releases__cover--vices
    %iframe.releases__player{src: 'https://bandcamp.com/EmbeddedPlayer/album=2330586006/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/transparent=true/'}
    %a.releases__cover-link{href: '/release-vices'} Vices

  .releases__cover.releases__cover--ghd
    %iframe.releases__player{src: 'https://bandcamp.com/EmbeddedPlayer/album=537193901/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/transparent=true/'}
    %a.releases__cover-link{href: '/release-demo'} Greatest Hits Demo

  .releases__cover.releases__cover--unsane
    %iframe.releases__player{src: 'https://bandcamp.com/EmbeddedPlayer/track=609582958/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/transparent=true/'}
    %a.releases__cover-link{href: '/release-unsane'} A Tribute To Unsane
