.releases

  %iframe.releases__player{src: 'https://bandcamp.com/EmbeddedPlayer/album=1455483914/size=large/bgcol=333333/linkcol=0f91ff/artwork=small/transparent=true/'}


  %a.releases_link{href: '#'}
    %img.releases__cover{src: 'images/covers/gc-cover-small.jpg', alt: 'Faking, Goddamn Cowards album.'}

  %a.releases_link{href: '#'}
    %img.releases__cover{src: 'images/covers/vices-cover-small.jpg', alt: 'Faking, Vices seven inch'}

  %a.releases_link{href: '#'}
    %img.releases__cover{src: 'images/covers/ghd-cover-small.jpg', alt: 'Faking, Greatest Hits Demo cassette'}
