!!!
%html
  %head
    -# %script{ async: '', src: 'https://www.googletagmanager.com/gtag/js?id=UA-123322988-1'}
    -# :javascript
    -#   window.dataLayer = window.dataLayer || [];
    -#   function gtag(){dataLayer.push(arguments);}
    -#   gtag('js', new Date());
    -#   gtag('config', 'UA-123322988-1');
    %title {{ page.title }}
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width = device-width, initial-scale = 1, maximum-scale = 1' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'css/styles.css' }
    %link{ href: 'css/font-awesome/all.min.css', rel: 'stylesheet', type: 'text/css' }
    %script{ src: 'https://code.jquery.com/jquery-3.3.1.min.js' }
    / %link{ rel: 'stylesheet', type: 'text/css', href: '{{ "/css/styles.css" | relative_url }}' }

  %body#top
    .main-content.main-content--default
      .main-content__container
        .main-content__page-header
          .main-content__social-icons
            %a.main-content__icon-link{ href: 'https://faking.bandcamp.com/', target: '_blank'}
              %i.fab.fa-bandcamp
            %a.main-content__icon-link{ href: 'https://www.instagram.com/faking_band/', target: '_blank'}
              %i.fab.fa-instagram
            %a.main-content__icon-link{ href: 'https://www.facebook.com/fakingband', target: '_blank'}
              %i.fab.fa-facebook-square

          %a.main-content__home-link{href: '/'}
            %h1.main-content__heading
              %img.main-content__masthead{src: 'images/htlogo.png', alt: 'Faking logo.'}
        = Haml::Engine.new(File.read('generated_html/primary_nav.html')).render

        %img.main-content__photo.main-content__photo--thin{src: 'images/live-double-gray-thin.jpeg', alt: 'Faking live'}

        {{ content }}
