\---
layout: default
title: FAKING
\---
.main-content
  .main-content__page-header
    %img{ class: 'main-content__masthead', src: 'images/htlogo.png', alt: 'Faking logo.' }
    = Haml::Engine.new(File.read('generated_html/primary_nav.html')).render

  = Haml::Engine.new(File.read('generated_html/releases.html')).render
