/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$black:          #121110;
$white:          #fbfbf7;
$gray--dark:     lighten($black, 20);
$gray--light:    lighten($black, 70);



/**
 * Global Functional Color Variables
 */

$background-color:    $gray--light;
