/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$black:          #121110;
$white:          #fbfbf7;
$gray--dark:     lighten($black, 20);
$gray--light:    lighten($black, 70);
$blue:           #3F8EF2;


/**
 * Global Functional Color Variables
 */

$background-color:    $gray--light;
$mist-color: rgba($gray--light, 0.2);
