/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$black:        #000000;
$white:        #ffffff;
$gray--dark:   #333333;



/**
 * Global Functional Color Variables
 */

$background-color:    rgba($gray--dark, 0.9);
