/*------------------------------------*\
    #GALLERY
\*------------------------------------*/

@keyframes frame-fade-in {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

.gallery__overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background: rgba($black, 0.5);
  opacity: 0;
  overflow: auto;
  animation: frame-fade-in 200ms ease-out forwards;
}

  .gallery__frame {
    @include center-horizontal;
    z-index: 1;
    margin: 100px 0;
    padding-top: calc(98vw * 0.563 + 8rem);
    width: 98vw;
    background: $gray--light;
    border-radius: $border-radius-small;
    opacity: 0;
    animation: frame-fade-in 400ms ease-out 200ms forwards;

    @include  tablet-up {
      padding-top: calc(88vw * 0.563 + 8rem);
      width: 88vw;
    }

    @include  desktop-up {
      padding-top: calc(800px * 0.563 + 8rem);
      width: 800px;
    }
  }
    .gallery__framed-image {
      @include center-horizontal;
      display: block;
      top: 4rem;
      width: 100%;
    }
