/*------------------------------------*\
    #FOOTER
\*------------------------------------*/


.footer {
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

  .footer__email-link {
    color: $white;
  }