/*------------------------------------*\
    #MAIN-CONTENT
\*------------------------------------*/

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.main-content {
  padding: 0.5rem 1rem 2rem;
  margin: 0.5rem auto 0;
  width: calc(100% - 3rem);
  background: $background-color;

  @include tablet-up {
    width: calc(100% - 8rem);
    max-width: 900px;
    margin: 2rem auto 0;
  }
}

.main-content--home {}

.main-content--default {
  margin: 0.5rem auto 4rem;

  @include tablet-up {
    margin: 2rem auto 5rem;
  }
}

  .main-content__container {
    // opacity: 0;
    // animation: fade-in 200ms ease-in 100ms forwards;
  }

    .main-content__page-header {
    	display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;

      @include tablet-up {
        justify-content: space-between;
        flex-direction: row;
      }
    }

      .main-content__social-icons {
        display: flex;
        margin-left: 1rem;
        padding-bottom: 0.5rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include tablet-up {
          margin-left: 0;
        }
      }

      .main-content__icon-link {
        color: $black;

        i {
          padding: 1px;
          font-size: 6vw;

          @include tablet-up {
            font-size: 4rem;
          }
        }
      }

      .main-content__home-link {
        width: 400px;
        max-width: 80%;
        margin-bottom: 0.5rem;
        align-self: flex-end;
        transition: opacity 200ms;

        &:hover {
          opacity: 0.7;
        }
      }

        .main-content__heading {}

      		.main-content__masthead {
      	    display: block;
      	    max-width: 100%;
      	    align-self: flex-end;
      		}

    .main-content__photo {
      display: block;
      max-width: calc(100% + 2rem);
      margin: 0 0 1rem -1rem;
    }

    .main-content__photo--thin {
      margin-bottom: 3rem;
    }
