/*------------------------------------*\
    #MUSIC
\*------------------------------------*/


.music {}

  .music__external-links {
    display: flex;
    margin-left: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    @include tablet-up {
      flex-direction: row;
    }
  }

    .music__external-link {
      display: flex;
      text-decoration: none;
      align-items: center;

      & + & {
        margin-top: 2rem;
      }

      @include tablet-up {
        & + & {
          margin-top: 0;
        }
      }

      i {
        font-size: 3.5rem;

        @include tablet-up {
          font-size: 5rem;
        }
      }
    }

      .music__external-link-text {
        margin-left: 1rem;
        font-size: 2rem;
        text-decoration: underline;
      }

  .music__release {
    display: flex;
    margin: 4rem 0;

    @include tablet-up {
      margin: 5rem 0 5rem 4rem;
    }
  }

  .music__release--gdc {}

  .music__release--vices {}

  .music__release--ghd {}

  .music__release--unsane {}

    .music__cover-link {

      &:hover {
        box-shadow: -4px -4px 40px 4px $blue-mist-color, 4px 4px 40px 4px $blue-mist-color;
      }
    }

      .music__cover {
        display: block;
        width: 10rem;

        @include tablet-up {
          width: 15rem;
        }
      }

    .music__release-info {
      display: flex;
      margin-left: 2rem;
      flex-direction: column;
      justify-content: center;
    }

      .music__title-link {}

        .music__title {
          margin-bottom: 0.5rem;
        }

      .music__details {
        margin: 0;
      }
