/*------------------------------------*\
    #PRESS
\*------------------------------------*/


.press {}

  .press__blurb {
    line-height: 2.8rem;
  }
  .press__write-up {
    margin: 2rem 0;
  }

    .press__link {

      strong {
        font-size: 2rem;
      }
    }
