/*------------------------------------*\
    #RELEASE-PAGE
\*------------------------------------*/

.release-page {
  @include tablet-up {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
}

  .release-page__heading {
    text-align: center;
    width: 100%;
  }

  .release-page__cover {
    display: block;
    width: 100%;
    margin: 0 auto;

    @include tablet-up {
      width: 50%;
    }
  }

  .release-page__player {
    display: block;
    margin: 1rem auto;
    height: 300px;
    width: 100%;
    border: 0;

    @include tablet-up {
      margin: 0;
      width: 50%;
      height: auto;
    }
  }

  .release-page__info {
    margin-top: 1rem;
  }

    .release-page__date {
      margin: 0;
    }

    .release-page__personel {
      margin: 0;
    }

    .release-page__details {
      margin: 0;
    }

    .release-page__cta {
      margin: 0;
    }

      .releases__cta-link {}
