/*------------------------------------*\
    #VIDEOS
\*------------------------------------*/


.videos {}

  .videos__heading {
    text-align: center;
  }

  .videos__video-player {
    display: block;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    border: 0;
  }