/*------------------------------------*\
    #VIDEOS
\*------------------------------------*/


.videos {}

  .videos__heading {
    text-align: center;
  }

  .videos__video-title {
    margin-top: 5rem;
    text-align: center;
  }

  .videos__video-player {
    display: block;
    width: 550px;
    max-width: 80%;
    height: 50vw;
    margin: 0 auto;
    border: 0;

    @include tablet-up {
      height: 300px;
    }
  }