<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<meta charset='utf-8'>
<meta content='width = device-width, initial-scale = 1, maximum-scale = 1' name='viewport'>
<link href='css/styles.css' rel='stylesheet' type='text/css'>
<link href='css/font-awesome.min.css' rel='stylesheet' type='text/css'>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<!-- %link{ rel: 'stylesheet', type: 'text/css', href: '{{ "/css/styles.css" | relative_url }}' } -->
</head>
<body id='top'>
<div class='main-content'>
<div class='main-content__page-header'>
<img alt='Faking logo.' class='main-content__masthead' src='images/htlogo.png'>
<ul class='primary-nav'><li class='primary-nav__item'>
<a class='primary-nav__item-link' data-nav-link='' href='/music'>MUSIC</a>
</li><li class='primary-nav__divider'></li><li class='primary-nav__item'>
<a class='primary-nav__item-link' data-nav-link='' href='/shows'>SHOWS</a>
</li><li class='primary-nav__divider'></li><li class='primary-nav__item'>
<a class='primary-nav__item-link' data-nav-link='' href='/videos'>VIDEOS</a>
</li><li class='primary-nav__divider'></li><li class='primary-nav__item'>
<a class='primary-nav__item-link' data-nav-link='' href='/press'>PRESS</a>
</li></ul>

</div>
{{ content }}
</div>
</body>
</html>
