<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<meta charset='utf-8'>
<meta content='width = device-width, initial-scale = 1, maximum-scale = 1' name='viewport'>
<link href='css/styles.css' rel='stylesheet' type='text/css'>
<link href='css/font-awesome/all.min.css' rel='stylesheet' type='text/css'>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<!-- %link{ rel: 'stylesheet', type: 'text/css', href: '{{ "/css/styles.css" | relative_url }}' } -->
</head>
<body id='top'>
<div class='main-content main-content--home'>
<div class='main-content__container'>
<div class='main-content__page-header'>
<div class='main-content__social-icons'>
<a class='main-content__icon-link' href='https://faking.bandcamp.com/' target='_blank'>
<i class='fab fa-bandcamp'></i>
</a>
<a class='main-content__icon-link' href='https://www.instagram.com/faking_band/' target='_blank'>
<i class='fab fa-instagram'></i>
</a>
<a class='main-content__icon-link' href='https://www.facebook.com/fakingband' target='_blank'>
<i class='fab fa-facebook-square'></i>
</a>
</div>
<a class='main-content__home-link' href='/'>
<h1 class='main-content__heading'>
<img alt='Faking logo.' class='main-content__masthead' src='images/htlogo.png'>
</h1>
</a>
</div>
<ul class='primary-nav'><li class='primary-nav__item'>
<a class='primary-nav__item-link' data-nav-link='' href='/music'>MUSIC</a>
</li><li class='primary-nav__divider'></li><li class='primary-nav__item'>
<a class='primary-nav__item-link' data-nav-link='' href='/shows'>SHOWS</a>
</li><li class='primary-nav__divider'></li><li class='primary-nav__item'>
<a class='primary-nav__item-link' data-nav-link='' href='/videos'>VIDEOS</a>
</li><li class='primary-nav__divider'></li><li class='primary-nav__item'>
<a class='primary-nav__item-link' data-nav-link='' href='/press'>PRESS</a>
</li></ul>

<img alt='Faking live' class='main-content__photo' src='images/live-double-gray.jpeg'>
{{ content }}
</div>
</div>
</body>
</html>
