/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/**
 * Media Query Mixins
 */

@mixin large-mobile-up {
  @media screen and (min-width: $small-breakpoint) {
    @content;
  }
}

@mixin tablet-up {
  @media screen and (min-width: $medium-breakpoint) {
    @content;
  }
}

@mixin desktop-up {
  @media screen and (min-width: $wide-breakpoint) {
    @content;
  }
}

@mixin large-screen-up {
  @media screen and (min-width: $x-wide-breakpoint) {
    @content;
  }
}

/**
 * center
 *
 * Used to vertically and horizontally center elements within their parent.
 */

@mixin center-horizontal {
  position: absolute;
  top: auto;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin center-vertical {
  position: absolute;
  top: 50%;
  left: auto;
  transform: translate(0, -50%);
}

@mixin center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**
 * full-bleed-container
 *
 * Used to make content full bleed when it is wrapped by parent with a max-width
 */

@mixin full-bleed-container {
  position: relative;
  right: 50%;
  left: 50%;
  margin-right: -50vw;
  margin-left: -50vw;
  width: 100vw;
}
